/public/storage
Homestead.yaml
Homestead.json
.env
.idea/
.vscode/
access.log
error.log
.htaccess
/storage/files
/vendor/
/public/file
/file
/config/lastTelegramUpdate

/public/photos/*
public/compiled/

db_restore/
yarn-error.log

node_modules/
var/
public/js/app.js
public/mix-manifest.json